/* Inputs */
/* Input element styling, ProcessWire form stuff should be in _forms.scss */

input,
textarea,
select,
.button {
	background-clip: padding-box;
	border: solid 1px $color-border;
	outline: 0;
	&:focus {
		position: relative;
		z-index: 1;
		border-color: mix(#000, $color-focus, 20%);
		box-shadow: 0 0 0 3px fade-out(mix($color-focus, $color-bg, 75%), 0.25);
	}
}

input[type="text"],
input[type="number"],
input[type="tel"],
input[type="email"],
input[type="password"],
select,
textarea {
	width: 100%;
	padding: calc(#{$spacing / 4} - 1px) calc(#{$spacing / 2} - 1px);

	font-size: inherit;
	line-height: inherit;
	border-radius: 2px;
	background-color: #fff;
	-webkit-appearance: none;
	-moz-appearance: textfield;
}

textarea {
	resize: vertical;
}

::placeholder {
	color: rgba($color-fg, 0.33);
	font-weight: lighter;
}

input[type="radio"],
input[type="checkbox"] {
	position: relative;
	top: 0.125em;

	-webkit-appearance: none;
	-moz-appearance: none;
	width: 1em;
	height: 1em;
	margin-right: 0.3em;

	background-color: #fff;
}

input[type="radio"] {
	border-radius: 50%;

	&:after {
		content: '';
		position: absolute;
		top: 25%;
		left: 25%;
		width: 50%;
		height: 50%;
		border-radius: 50%;
		background-color: $color-brand;
		transition: transform 0.15s;
	}

	&:not(:checked):after {
		transform: scale(0);
	}
}

input[type="checkbox"] {
	border-radius: 2px;

	&:before,
	&:after {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		height: 2px;
		width: 0.75em;
		background-color: $color-brand;
		border-radius: 1px;
		transition: width 0.15s;
	}

	&:before {
		transform: translate(-50%, -50%) rotate(45deg);
	}

	&:after {
		transform: translate(-50%, -50%) rotate(-45deg);
	}

	&:not(:checked):before,
	&:not(:checked):after {
		width: 0;
	}
}

.select-wrapper {
	position: relative;

	&:after {
		position: absolute;
		top: calc(50% - 0.15625em);
		right: 0.625em;
		z-index: 1;
		content: '';
		width: 0;
		height: 0;
		border: solid 0.3125em;
		border-color: currentColor transparent transparent;
	}

	& > select {
		padding-right: 1.875em;
	}
}

.button {
	-webkit-appearance: none;
	-moz-appearance: textfield;
	display: inline-block;
	border-radius: 2px;
	padding: calc(#{$spacing / 4} - 1px) calc(#{$spacing / 2} - 1px);
	background-color: $color-button;
	color: $color-bg;
	box-shadow: 0 1px 2px rgba(#000, 0.2);

	&:hover {
		background-color: lighten($color-button, 5%);
		color: $color-bg;
	}

	&:active,
	&--active {
		background-color: darken($color-button, 5%);
		color: $color-bg;
		box-shadow: none;
	}

	&--brand {
		background-clip: border-box;
		background-color: $color-brand-2;
		color: $color-bg;
		text-shadow: 0 -1px 0 $color-border;

		&:hover {
			background-color: lighten($color-brand-2, 5%);
			color: $color-bg;
		}

		&:active {
			background-color: darken($color-brand-2, 5%);
			color: $color-bg;
		}
	}
}

