/* NAV */

.navbar {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	height: $navbar-height;
	position: fixed;
	bottom: 0;
	background: linear-gradient(0deg, rgba(18,18,18,1) 0%, rgba(12,12,12,1) 100%);
}

.nav {
	display: flex;
	flex-direction: column;

	& > li {
		position: relative;
		display: flex;
		flex-shrink: 0;
		flex-wrap: wrap;
	}

	& &:not(.dropdown) {
		padding-left: $spacing;
		width: 100%;
	}

	&--words {
		flex-direction: row;

		& > li + li:before {
			content: '\002C';
			margin-right: 0.3em;
		}
	}

	&--pagination {
		margin-left: -$spacing / 8;
		margin-right: -$spacing / 8;
		flex-direction: row;

		& > li {
			margin-left: $spacing / 8;
			margin-right: $spacing / 8;
		}
	}
}

.nav-link {
	outline: none;
	display: block;
	line-height: 1;
	cursor: pointer;

	&--subnav {
		&:after {
			content: '';
			border: 0.25em solid;
			border-color: currentColor transparent transparent transparent;
			display: inline-block;
			transform: translateY(0.1em);
			margin-left: 0.5em;
		}
	}
}

.nav-button {
	width: $navbar-hamburger;
	height: $navbar-hamburger;
	line-height: 1;
	color: $color-fg;
}

.nav--main {
	.active > .nav-link {
		color: $color-link;
	}

	.nav-link {
		padding-top: 0.5em;
		padding-bottom: 0.5em;
		color: $color-fg;
		font-size: 0.9rem;

		&.active {
			color: $color-link;
		}

		&:hover,
		&:focus {
			color: $color-link-hover;
		}

		&:active {
			color: $color-link-active;
		}
	}
}

.nav--mobile {
	flex-direction: row;
	.nav-link {
		padding-left: 0.6em;
		padding-right: 0.6em;
	}
}

// Prevent flashing when loading
html:not(.no-js) #main-nav:not(.nav--desktop):not(.nav--mobile) {
	display: none;
}

// No js fallback
.no-js #main-nav:not(:target) {
	display: none;
}

