/* VARIABLES */


/* Typography */

@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@400;700&family=Overpass:ital,wght@0,100;0,400;0,900;1,400;1,900&display=swap');

$font-sans: 'Overpass', sans-serif;
$font-serif: serif;
$font-heading: 'Overpass', sans-serif;
$font-mono: 'Overpass Mono', monospace;

$base-font-size: 100%; // Must be a percent
$line-height: 1.5; // Must be unitless



/* Colors */

$color-bg: #f6f6f6;
$color-fg: #111;
$color-bg-dim: rgba(#000, 0.05);
$color-fg-dim: fade-out($color-fg, 0.5);

$color-brand: #ff067c;
$color-brand-2: #62e3e1;
$color-brand-3: #efff00;

$color-link: rgb(246, 0, 86);
$color-link-hover: lighten($color-link, 15%);
$color-link-active: darken($color-link, 5%);

$color-separator: rgba(#000, 0.05);
$color-border: rgba(#000, 0.2);
$color-button: darken($color-brand-2, 5%);
$color-focus: $color-brand-2;
$color-info: #429bf6;
$color-error: #f75019;

/* Layout */

$breakpoint-sm: 700px;
$breakpoint-l: 1300px;
$breakpoint-xl: 2500px;
$spacing: $line-height * 1rem;

$wrapper-width: 62.5rem;
$wrapper-padding: 6vw;

$navbar-height: $spacing * 2;
$navbar-hamburger: 16px;

