/* VARIABLES */


/* Typography */

@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700|Roboto+Mono:300,300i,700,700i|Roboto:100,100i,300,300i,700,700i&display=swap');

$font-sans: 'Roboto', sans-serif;
$font-serif: serif;
$font-heading: 'Oswald', sans-serif;
$font-mono: 'Roboto Mono', monospace;

$base-font-size: 100%; // Must be a percent
$line-height: 1.5; // Must be unitless



/* Colors */

$color-bg: #f6f6f6;
$color-fg: #444;
$color-bg-dim: rgba(#000, 0.05);
$color-fg-dim: fade-out($color-fg, 0.5);

$color-brand: #9f0000;
$color-brand-2: rgb(197, 240, 255);
$color-brand-3: #445aff;

$color-link: rgb(246, 0, 86);
$color-link-hover: lighten($color-link, 15%);
$color-link-active: darken($color-link, 5%);

$color-separator: rgba(#000, 0.05);
$color-border: rgba(#000, 0.2);
$color-button: darken($color-brand-2, 5%);
$color-focus: $color-brand-2;
$color-info: #429bf6;
$color-error: #f75019;

/* Gallery hover colors */

$color-loop: #60c900;
$color-honey: #7401d5;
$color-hbp: #ff5782;
$color-hxgn: #00c8d8;




/* Layout */

$breakpoint-sm: 700px;
$breakpoint-l: 1300px;
$breakpoint-xl: 2500px;
$spacing: $line-height * 1rem;

$wrapper-width: 62.5rem;
$wrapper-padding: 6vw;

$navbar-height: $spacing * 2;
$navbar-hamburger: 16px;

